{{ define "main" }}
  {{ $data := .Data }}
  <div class="container" role="main">
    <article class="post-preview">
      <div class="book-toc col-md-12">
      {{ range $key, $value := .Data.Terms.ByCount }}
        <div class="line">
          <div class="cell title"><a href="{{ $.Site.LanguagePrefix | absURL }}/{{ $data.Plural }}/{{ $value.Name | urlize }}/">
              # {{ $value.Name }}</a></div>
          <div class="cell count"><span class="badge">{{ $value.Count }}</span></div>
        </div>
      {{ end }}
      </div>
    </article>
  </div>
{{ end }}
